/* Top */
.homeTop {
  background-color: #5e50a1;
}

.top {
  margin-top: 76px;
  height: 70px;
  font-size: 28px;
}
/* End Top */

.home {
  background-color: #e5e5e5;
}

/* Search */
.search {
  height: 70px;
}

.input {
  height: 70px;
  border: 1px solid white;
}

.dropdown {
  font-size: 16px;
  color: #9b9b9b;
}

.btnPurple {
  width: 87px;
  height: 60px;
  font-size: 14px;
  color: white;
  border: 1px solid #5e50a1;
  background-color: #5e50a1;
}

.icon {
  color: #9b9b9b;
  font-size: 25px;
}

.page-btn,
.page-btn:focus {
  width: 50px;
  height: 30px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  background-color: #5e50a1;
  color: #ffffff;
  outline: none;
}

@media screen and (max-width: 767px) {
  .icon {
    display: none;
  }
}
/* End Search */

/* Card */
.listSkills {
  overflow-x: scroll;
  cursor: grab;
}
.listSkills::-webkit-scrollbar {
  display: none;
}
.listSkills p {
  font-size: 12px !important;
  background-color: rgba(251, 176, 23, 0.67);
  color: white !important;
  font-weight: 400 !important;
  border: 2px solid rgba(251, 176, 23, 1);
}

.seeProfil {
  background-color: #5e50a1 !important;
  color: white;
}
.seeProfil:hover {
  background-color: transparent !important;
  border: 1px solid #5e50a1 !important;
  color: #5e50a1 !important;
}
.body span,
.body p {
  color: grey;
  font-size: 14px;
}
/* End Card */
